a{
text-decoration-line: none;
}

@keyframes fadeInLeft {
        0% {
        opacity: 0;
        transform: translate3d(-2%, 0, 0);
        }
        to {
        opacity: 1;
        transform: translateZ(0);
        }
    }









.chart_div_core_modify{
        width: 100%;
        height:100%;
        display: flex;
        justify-content: left;
        align-items: center;
}

        .modify_guide_div_cpu{
                width: 100%;
                height: 30px;
                color: rgb(89, 0, 255);

                margin-left: 5px;
                display: flex;
                justify-content: left;
                align-items: center;

                
        }


        .modify_guide_div_device{
                width: 100%;
                height: 30px;
                color: rgb(89, 0, 255);
   
                margin-left: 5px;
                display: flex;
                justify-content: left;
                align-items: center;
                
        }

                .modify_guide_a1{
                        width: auto;
                        height: auto;
                        color : hsl(330, 100%, 73%) !important;
                        font-size:11px;

                        margin-left : 0px;
                        margin-right : 2px;
                        margin-top : 6px;
                        margin-bottom : 2px;

            
                }

                .modify_guide_a2{
                        font-weight: 700;
                        width: auto;
                        height: auto;
                        color : hsl(330, 100%, 50%) !important;
                        font-size:15px;
                        margin : 2px;
                
                }

                .modify_guide_a3{
                        width: auto;
                        height: auto;
                        color : hsl(0, 0%, 33%) !important;
                        font-size:14px;

                        margin-left : 3px;
                        margin-right : 2px;
                        margin-top : 4px;
                        margin-bottom : 2px;

         
                }










.ground{
        background: linear-gradient(white, rgba(36, 36, 36, 0.7), rgb(0, 0, 0));
        background-attachment: fixed;
        width: 100%;
        height: inherit;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .index_content_line{
        width : 1150px;
        height: inherit;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        color: rgb(255, 0, 0);
    }
    .index_content{
        width : auto;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: blue;
        margin-top: 160px;
        margin-bottom: 700px;

        -webkit-animation: fadeInLeft 0.3s; /* Safari and Chrome */
    }




  



    













                        .Main_Title{
                               
                                outline-width: 1px;
                                color: hsl(0, 0%, 0%);
                                width: 100%;
                                height: auto;
                             

                                align-items: left;
                                justify-content: left;
                                text-align: left;

                                margin-left: 20px;



                        }




                        .tool1_title{
                          
                              

                                color: black;
                                margin: 8px;
                                width: auto;
                                height: auto;
                
                                display: flex;     
                                justify-content: left;  
                                align-items: left;
                                text-align: left;
                      
                                flex-direction: column;
                
                                margin-bottom: 8px;

                                font-size: 54px;
                                font-weight: 700;

                          

                        }


                        .tool1_semi{
                          
                                
                                color: black;
                                margin: 5px;
                                width: auto;
                                height: auto;
                
                                display: flex;       
                                justify-content: left;  
                                align-items: left;
                                text-align: left;
                                
                                flex-direction: column;
        
                                margin-bottom: 15px;

                                font-size: 22px;
                                
                                padding-left: 8px;
                            
                        }


        .tool2{
              
                outline-width: 1.5px;

                color: rgb(255, 0, 200);
                margin: 8px;
                width: auto;
                height: auto;
                display: flex;
                flex-direction: column;
                margin-top: 60px;
                margin-bottom: 30px;

                text-shadow: 0 0 3px white;


        }



                        .tool2_line{
                                  
                                outline-width: 1px;
                                color: hsl(0, 0%, 0%);
                                width: auto;
                                margin: 5px;

                                align-items: left;
                                justify-content: left;
                                text-align: left;

                 


                        }


                        .tool2_title{
                        
                
                                color: black;
                                margin: 8px;
                                width: auto;
                                height: auto;
                
                                display: flex;       
                          
                                
                                flex-direction: column;
                
                                margin-bottom: 15px;

                                font-size: 48px;
                                font-weight: 700;

                                padding-left: 20px;
                                        
                        }

                        .tool2_semi{
                                        
                                 
                                color: black;
                                margin: 5px;
                                width: auto;
                                height: auto;
                
                                display: flex;       
              
                                
                                flex-direction: column;
        
                                margin-bottom: 25px;

                                font-size: 20px;
                                
                                padding-left: 27px;
                        }




                        .index_button_line1{

                              
                                
                                
                                color: hsl(263, 100%, 50%);
                               
                                width: auto;
                                height: auto;
                                display: flex;

                               
                        
                         

                        }

                        .index_button_line1_slider{
                                
                                outline-width: 1px;
                                color: hsl(0, 100%, 50%);
                                
                                width: auto;
                                height: auto;
                              
                                display: flex;
                          
                     
                        }

















 


                        .index_button_line1_move{

                               
                                color: transparent;
                                width: 95%;
                                height: 95%;
                                margin-top: -15px;
                                margin-bottom: 60px;
                                display: flex;       
                                align-items: center;
                                justify-content: center;

                               

                                
                              
                        }

                        .index_button_line1_move_in{
                                color: black;
                                
                                outline-width: 1px;
                                border-radius: 5px;
                                width: 400px;
                                height: 100%;
                                margin: 3px;

                                display: flex;       
                                align-items: center;
                                justify-content: center;   
                            

                                

                        }
                
                        .index_button_line1_move_in_angle{
                                color: black;
                                

                                margin: 3px;
                                width: 200px;
                                height: 100%;
                                
                          

                                display: flex;       
                                align-items: center;
                                justify-content: center;
                                
                                a{
                                        font-size: 60px;
                                }
                                
                        }


                        @keyframes blink {
                                0% {
                                  opacity: 1;
                                }
                                50% {
                                  opacity: 0;
                                }
                                100% {
                                  opacity: 1;
                                }
                              }
                              .blinking_text_vertical {
                                animation: blink 2.2s infinite; /* 1초 간격으로 무한 반복 */
                              
                                        color:rgba(0, 0, 0, 0.158);
                                
                              }
  


                        

      


                .button_content1{
               
                flex : 1;
         

                display: flex;       
                align-items: center;
                justify-content: center;

              
                height: auto;

                margin-bottom: 40px;
                margin: 20px;

              
               
                }






                .key1_box1{
                        
                        outline-width: 1px;
                        color: black;
                        width: 120px;
                        height: 215px;
                        border-radius: 10px;
                        margin: 5px;
                        background-color: transparent;
                        margin-left: 10px;
                        margin-right: 25px;

                      display: none;

                }


                .key1_box2{
                        
                        color: black;
                        width: auto;
                        height: 50px;
               
              
                        margin: 5px;
                        

                        a{
                                font-size: 30px;
                                font-weight: 700;
                        }
                   

                }







                
                .move{
            
             
                        margin-left: 20px;
                        
                        color: black;
        
                        a{
                                font-size: 20px;
                                font-weight: 700;
                        }
                        
                }












                .button_content1_title{

                        font-size: 40px;
                }





/* 모듈 기본 구조 시작*/

.Module_Layout_1{
width:900px;
height: auto;
border-radius: 10px;
background-color: transparent;

outline-width: 2px;
color : red;

/* box-shadow: 0px 0px 8px hsla(0, 0%, 0%, 0.637); */


}




.Module_Layout_1_1{
background-color: rgb(0, 0, 0);/*모듈 모서리 색상 조절*/
flex : 6;
display: flex;
flex-direction: column;
padding : 2.4px;/*모듈 모서리 두께 조절*/
height: auto;
/*box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.63);*/
border-radius: 10px;

box-shadow: 0 0 10px rgb(0, 0, 0);

width: 95%;

}   

.Module_Layout_1_1_1{

background : linear-gradient(90deg, rgb(0, 0, 0) 20%, rgb(58, 58, 58) 50%, rgb(92, 92, 92) 90%);
/*background : linear-gradient(rgb(36,0,10), rgba(221,0,55,0.795), rgb(36,0,10) );*/
flex : 1;
color : #ff0000;
display: flex;  
align-items : center;   
width: 100%;
height: auto;
border-top-left-radius: 8px; 
border-top-right-radius: 8px; 





}

.Module_Layout_1_1_2{
background: white;
background-attachment: fixed;

/*background : linear-gradient(white, rgb(199, 199, 199));*/
flex : 2.4;
color : rgba(0, 0, 0, 0.23);     
display: flex;
width : auto;  
flex-direction: column;
border-bottom-left-radius: 8px; 
border-bottom-right-radius: 8px;

outline-style: solid;
outline-width: 3px;

}   





.Module_Layout_1_1_1_1{
flex : 3;
margin : 10px;

width: 100%;
height: auto;
display : flex;
padding-left : 5px;

}   


                                .Module_Layout_1_1_1_1_1_0{
                                        color : hsl(0, 0%, 100%);
                                        text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
                                        height: 36px;
                                        display: flex;       
                                        align-items: center;
                                        justify-content: center;
                                        font-size: 22px;
                                        margin-right: 12px;
                                }
                                .Module_Layout_1_1_1_1_1_0:hover{
                                        color : hsl(330, 100%, 50%) !important;
                                    }
                              
                                    .Module_Layout_1_1_1_1_1_0_22{
                                        color : hsla(0, 0%, 100%, 0.178);
                                        text-shadow: -1px 0px rgba(0, 0, 0, 0), 0px 1px rgba(0, 0, 0, 0), 1px 0px rgba(0, 0, 0, 0), 0px -1px rgba(0, 0, 0, 0);
                                        height: 36px;
                                        display: flex;       
                                        align-items: center;
                                        justify-content: center;
                                        font-size: 22px;
                                        margin-right: 12px;
                                    }


                                        .Module_Layout_1_1_1_1_0{
                                               
                                                font-size: 24px;
                                               
                                                font-weight: 700;
                                                display : flex;
                                                justify-content: center;
                                                align-items : center;
                                             
                                                text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
                                                
                                                outline-width: 1px;
                                                margin-top: 2px;
                                                margin-right: 20px;
                                                margin-left: 2px;

                                                width: 34px;
                                                height: 34px;

                                                
                                                border-radius: 5px;
                                                color: white;
                                                background-color: rgba(255, 255, 255, 0.397);
                                         
                                     
                                        }


                                        .Module_Layout_1_1_1_1_1{
                                                flex : 6;
                                                font-size: 24px;
                                                
                                                font-weight: 700;
                                                display : flex;
                                                justify-content: left;
                                                align-items : center;
                                                margin-bottom: 5px;
                                                text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
                                         
                                     
                                        }

                                        .Module_Layout_1_1_1_1_2{
                                                flex : 1;
                                
                                                display : flex;
                                                justify-content: right;
                                                align-items : center;
                                              

                                                
                                            
                                                text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;

                                                a{
                                                color : rgb(255, 255, 255);
                                                font-size: 14px;
                                                font-weight: 700;
                                                }

                                              
                                         
                                        }

                                .ultil{
                                background-color: rgba(255, 255, 255, 0.425);   
                                flex : 0.8;
                                margin : 10px;
                                color : hsl(0, 0%, 100%);
                                font-size: 24px;
                                width: auto;
                                height: auto;
                                border-radius: 5px;
                                display : flex;
                                justify-content: center;
                                align-items : center;
                                }   













                                .slider_content1{
                                    width : 100%; 
                                    background : transparent;   
                                    color : black;
                                  
                                    display: flex;
                            
                                }


                

                                                .slider_content_text_div1{
                                            
                                                        margin: 5px;
                                                      
                                                        width: 100%;

                                                        text-align: left;
                                                        font-size: 15px;
                                                        font-weight: 700;
                                                        padding-left : 15px;
                                                
                                           
                                                      
                                                  
                                       
                                                        a{
                                                                margin : 5px;
                                                             
                                                                color : hsl(0, 0%, 0%);
                                                                font-weight: 700;
                                                  
                                                                font-size: 22px;
                                                                margin-left: 15px;
                           
                                                        

                                                        }
                                        
                                                
                                                }



                                                .Module_Layout_1_1_2_1{
                                                        width : 100%; 
                                                        background : transparent;   
                                                        color : black;
                                                      
                                                        display: flex;
                                                        justify-content: center;
                                                        align-items: center;

                                                        flex-direction: column;



                                                }




                                                .Module_Layout_1_1_2_1_1{

                                                        margin-top: 15px;
                                                        margin-bottom : 12px;
                                                       


                                                        width: 95%;
                                                        height: auto;
                                                        text-align: left;
                                                        
                                                        
                                                    
                                                        a{
                                                                color : hsl(0, 0%, 0%);
                                                                font-weight: 700;
                                                                font-size: 20px;
                                                                margin-left: -3px;
                                                                
                                                        }    
                                                        
                                                


                                                }

                                                @keyframes fadein {
                                                        from {
                                                            opacity: 0;
                                                        }
                                                        to {
                                                            opacity: 1;
                                                        }
                                                    }

                                                .Module_Layout_1_1_2_1_2{
                                            
                                                      
                                                        margin-bottom : 10px;
                                                      
                                                        width: 100%;
                                                        height: auto;
                                           
                                                       
                                             

                                                        font-size: 15px;
                                                        

                                  
                                                
                                                        display: flex;
                                                        justify-content: center;
                                                        align-items: center;

                                      
                                                }


                                                .Module_Layout_1_1_2_1_2_1{
                                            
                                                        
                                                        width: 98%;
                                                        height: auto;
                                                        
                                                        color:  hwb(0 0% 100%);
                                                      
                                                     
                                                        display: flex;
                                                        justify-content: center;
                                                        align-items: center;

                                       
                                                }

.slider_content_text_div1_pro_con_tool1_sample{
margin-bottom : 10px;
width: 95%;
height: 120px;
border-radius: 5px;
color: hsl(288, 99%, 50%);
display: flex;
justify-content: center;
align-items: center;


}




.Module1_start_page1view_id{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        background-color: transparent;
        

      
}

.Module1_start_page2view_id{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        background-color: transparent;
        

      
}








.Module1_start_admin{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 850px;
        height: auto;
      

        padding: 8px;
        margin-top: -12px;
 
       


}
                           



                                                                        .Total_Count_Amount_admin{
                                                                                width: auto;
                                                                                height: auto;
                                                                                outline-width: 1px;
                                                                                color: black;
                                                                                display: flex;
                                                                                justify-content: center;
                                                                                align-items: end;
                                                                                font-size: 80px;
                                                                                font-weight: 700;
                                                                        }

                                                                        
                                                                        .Total_Count_Amount_admin:hover{
                                                                                width: auto;
                                                                                height: auto;
                                                                                outline-width: 1px;
                                                                                color: hsl(330, 100%, 50%);
                                                                                display: flex;
                                                                                justify-content: center;
                                                                                align-items: end;
                                                                                font-size: 80px;
                                                                                font-weight: 700;
                                                                                a{
                                                                                        text-shadow: 0 0 2px white;
                                                                                }
                                                                        }
                                                       
                                                            


                                                                        .Total_Count_Processor_admin{
                                                                                width: auto;
                                                                                height: auto;
                                                                                outline-width: 1px;
                                                                                color: rgb(0, 0, 0);
                                                                                align-items :end;
                                                                                font-size: 24px;
                                                                                font-weight: 700;
                                                                                margin-bottom: 17px;
                                                                                margin-left: 8px;
                                                                        }
                                                                        .Total_Count_Device_admin{
                                                                                width: auto;
                                                                                height: auto;
                                                                                outline-width: 1px;
                                                                                color: rgb(0, 0, 0);
                                                                                align-items :end;
                                                                                font-size: 24px;
                                                                                font-weight: 700;
                                                                                margin-bottom: 17px;
                                                                                margin-left: 8px;
                                                                        }

                                              
                                                                     


                                   


                                .main_footer{
                                        width: 100%;
                                        height: 200px;
                                    
                                        background-color: rgb(63, 25, 51);
                                        color: #ffffff;
                                        font-size: 40px;
                                        font-weight: 700;
                                    
                                        display: flex;
                                        justify-content: center;
                                        align-content: center;
                                    
                                    
                                    
                                        bottom : 0;
                                        
                                    
                                    
                                    }
                                    

                                    .manf_logo{
                                        margin-left : 450px;
                                        width:60px;
                                        height:60px;
                                        background:transparent;
                                     
                                        border-radius:3px;
                                    }




                                    .Total_Count_admin{
                                     
                                   
                                        width: 250px;
                                        height: 90px;
                                       
                                        outline-width: 1px;
                                  
                                        color: black;

                                        display: flex;
                                        justify-content: right;
                                        align-items: end;
                
                                        font-size: 24px;
                                        font-weight: 700;

                                        margin: 5px;
                      
                                    
                                      
                                   
                                }




                                    .Hot_Items_admin{
                                    
                                        width: 240px;
                                        height: 90px;
                                       
                                 
                                        outline-width: 1px;
                                        
                                        color: #1900ff;

                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        flex-direction: column;
                        
                                        margin: 5px;
                                      
                                        
                                      
                                        
                                }






                                    .slider_content_text_div1_pro_con_tool1_title2_con1_admin{
                                        outline-style: solid;
                                        outline-width: 3px;
                                        color: #000000;
                                        width: 160px;
                                        height: 60px;
                                        margin-left: 120px;
                                        display: flex;
                                        justify-self: center;
                                        align-items: center;
                                        border-radius: 5px;
                                        background-color: rgba(0, 0, 0, 0.897);
                                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.336);
                                    }

                                    .slider_content_text_div1_pro_con_tool1_title2_con1_admin:hover{
                                        outline-style: solid;
                                        outline-width: 3px;
                                        color: #000000;
                                        width: 160px;
                                        height: 60px;
                                        display: flex;
                                        justify-self: center;
                                        align-items: center;
                                        border-radius: 5px;
                                        background-color: rgb(255, 255, 255);
                                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.336);
                                        a{
                                                color:black;
                                        }
                                    }




                                    .slider_content_text_div1_pro_con_tool1_title2_con1_in_admin{
                                        display: flex;
                                        justify-self: center;
                                        align-items: center;
                                        margin: 0 auto;
                                        a{
                                                font-size: 30px;
                                                font-weight: 700;
                                                color: rgb(255, 255, 255);
                                        }
                                      }
















                                      .Module_Layout_1_1_1_1_2_back{
                                        flex : 1;
                                        
                                        display : flex;
                                        justify-content: right;
                                        align-items : center;
                                     
                                        text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
                                        
                                        a{
                                        color : rgb(255, 255, 255);
                                        font-size: 15px;
                                        font-weight: 700;
                                        }
                                        
                                      
                                         
                                        }
                                
                                        .Module_Layout_1_1_1_1_2_back_view{
                                    
                                            width: 90px;
                                            
                                            display : flex;
                                            justify-content: right;
                                            align-items : center;
                                         
                                            text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
                                            
                                            a{
                                            color : rgb(255, 255, 255);
                                            font-size: 15px;
                                            font-weight: 700;
                                            }
                                            
                                          
                                             
                                            }