@charset "utf-8";



/* default */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
article,
aside,
audio,
blockquote,
body,
canvas,
caption,
dd,
details,
div,
dl,
dt,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
iframe,
legend,
li,
main,
menu,
nav,
ol,
p,
pre,
section,
summary,
table,
tbody,
td,
template,
textarea,
tfoot,
th,
thead,
tr,
ul,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-family: inherit;
  box-sizing: border-box;
  word-break: break-all;
}
a,
em,
span {
  display: inline-block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:active,
a:hover,
a:link,
a:visited {
  color: #444;
  text-decoration: none;
}
b,
strong {
  font-weight: 600;
}
address,
cite,
dfn,
em,
i {
  font-style: normal;
}
img {
  border: none;
  vertical-align: middle;
}
audio,
img,
video {
  max-width: 100%;
  max-height: 100%;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
switch {
  display: none;
}
figcaption,
figure {
  margin: 0;
  padding: 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 90%;
}
sub,
sup {
  position: relative;
  font-size: 0.9em;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
del {
  color: #aaa !important;
  text-decoration: line-through;
}
label {
  display: inline-block;
  cursor: pointer;
}
iframe {
  display: block;
  max-width: 100%;
}
template {
  display: none;
}
summary {
  display: list-item;
  cursor: pointer;
}
output {
  display: inline-block;
}
ul,
ul > li {
  list-style: none;
}
ol {
  position: relative;
  overflow: hidden;
  counter-reset: number;
}
ol > li {
  counter-increment: number;
}
ol > li:before {
  content: counter(number, decimal) ".";
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
caption {
  position: relative;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background: 0 0;
  color: transparent;
  font-size: 0;
  line-height: 0;
  text-indent: 100%;
}
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background: 0 0;
  color: transparent;
  font-size: 0;
  line-height: 0;
}
fieldset {
  border: none;
  min-width: 0;
}
hr {
  position: absolute;
  height: 0;
  overflow: hidden;
  width: 0;
}
:after,
:before {
  display: none;
  content: "";
}
.clearfix {
  display: block;
}
.clearfix:after {
  display: table;
  content: "";
  clear: both;
}
.clear {
  clear: both;
}
.hide {
  display: none;
}
.skip {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background: 0 0;
  color: transparent !important;
  font-size: 0 !important;
  line-height: 0;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0 solid;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  box-sizing: border-box;
  vertical-align: middle;
}
button,
input,
select {
  display: inline-block;
}
button,
input {
  overflow: visible;
}
input[type="search"],
input[type="text"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
input[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="file"] {
  border: none;
}
input[type="file"]::-webkit-file-upload-button {
  border: 1px solid #bbb;
  background: #e0e0e0;
  box-shadow: none;
  font: inherit;
  -webkit-appearance: button;
  -moz-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  border: none;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  overflow: visible;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}
textarea {
  display: block;
  overflow: auto;
  resize: vertical;
}
input[disabled] {
  background-color: #ebebeb;
}
select:disabled {
  background-color: #ebebeb;
}
[hidden] {
  display: none !important;
}
.slick-slider {
  position: relative;
}
.slick-list {
  position: relative;
  overflow: hidden;
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}
.slick-track:after,
.slick-track:before {
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
}












/* footer */
#footer {
  position: absolute;
  left: 220px;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 40px 60px;
  background-color: #e5e5e5;
  font-size: 0;
  line-height: 0;
  transition: bottom 0.25s ease-in-out;
}
.bottom_popup.active + #footer {
  bottom: 60px;
}
#footer .footer_menu li {
  display: inline-block;
}
#footer .footer_menu li + li {
  margin-left: 25px;
}
#footer .footer_menu li a {
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
}
#footer .footer_info {
  margin-top: 24px;
  color: #8f8f8f;
  font-size: 12px;
  line-height: 22px;
}
#footer .footer_info span {
  font-weight: 600;
}






/* sub */
.sub_head {
  position: relative;
  max-width: 940px;
  margin: 0 auto;
  padding-bottom: 32px;
  overflow: hidden;
}
.sub_head h2 {
  margin-bottom: 18px;
}
.sub_head .point,
.sub_head .date {
  position: absolute;
  top: 0;
  right: 0;
  height: 44px;
  padding: 0 20px;
  border: 1px solid #53acff;
  border-radius: 22px;
  color: #53acff;
  font-size: 16px;
  line-height: 42px;
}

#contents {
  max-width: 940px;
  margin: 0 auto;
}








/** 공통 **/
/* text */
h2 {
  color: #000;
  font-size: 38px;
  font-weight: 600;
  line-height: 44px;
}
h3 {
  margin-bottom: 15px;
  color: #2becb2;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}
h4 {
  margin-bottom: 16px;
  color: #000;
  font-size: 18px;
  line-height: 20px;
}
.cont_text {
  color: #8f8f8f;
  font-size: 16px;
  line-height: 22px;
}
#contents > .btn_box {
  margin-top: 40px;
}
#contents > .btn_box.mt0 {
  margin-top: 3px;
}
.em_green {
  color: #2becb2 !important;
}
.em_red {
  color: #ff6969 !important;
}

/* text-align */
.ta_l {
  text-align: left;
}
.ta_c {
  text-align: center;
}
.ta_r {
  text-align: right;
}

/* float */
.fl {
  float: left;
}
.fr {
  float: right;
}












/* width */
.w5p {
  width: 5% !important;
}
.w10p {
  width: 10% !important;
}
.w15p {
  width: 15% !important;
}
.w20p {
  width: 20% !important;
}
.w25p {
  width: 25% !important;
}
.w29p {
  width: 29% !important;
}
.w30p {
  width: 30% !important;
}
.w35p {
  width: 35% !important;
}
.w40p {
  width: 40% !important;
}
.w45p {
  width: 45% !important;
}
.w50p {
  width: 50% !important;
}
.w55p {
  width: 55% !important;
}
.w60p {
  width: 60% !important;
}
.w65p {
  width: 65% !important;
}
.w70p {
  width: 70% !important;
}
.w75p {
  width: 75% !important;
}
.w80p {
  width: 80% !important;
}
.w85p {
  width: 85% !important;
}
.w90p {
  width: 90% !important;
}
.w95p {
  width: 95% !important;
}
.w100p {
  width: 100% !important;
}
@media all and (max-width: 765px) {
  .w-sm-5p {
    width: 5% !important;
  }
  .w-sm-10p {
    width: 10% !important;
  }
  .w-sm-15p {
    width: 15% !important;
  }
  .w-sm-20p {
    width: 20% !important;
  }
}








/* margin */
.margin_t_0 {
  margin-top: 0 !important;
}
.margin_t_10 {
  margin-top: 10px !important;
}
.margin_t_20 {
  margin-top: 20px !important;
}











/* input */
.inp {
  height: 50px;
  padding: 0 15px;
  border: 1px solid transparent;
  border-radius: 4px !important;
  background-color: #f0f0f0;
  color: #000;
  font-size: 14px;
  caret-color: #2becb2;
  transition-property: border-color, background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
.inp:focus {
  border-color: #2becb2;
  outline: 0;
}
.inp[disabled],
.inp[readonly] {
  border-color: #e5e5e5;
  background-color: #fff;
}
.inp::placeholder {
  color: #b0b0b0;
}
.inp.required {
  border-color: #ff6969;
  color: #ff6969;
  caret-color: #ff6969;
}
.inp.required::placeholder {
  color: #ff6969;
}
.inp.select_inp {
  padding-right: 35px;
  border-color: #e5e5e5;
  background: url("../../images/contents/arrow_icon1.png") no-repeat right 15px
    center #fff;
  line-height: 50px;
  cursor: pointer;
}
.inp.big {
  height: 60px;
  font-size: 16px;
}














/* select */
.select {
  height: 50px;
  padding: 0 45px 0 15px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  color: #000;
  font-size: 14px;
}
.select:focus {
  border-color: #000;
  outline: none;
}
.select option:checked,
.select option:hover {
  background: #fff;
  color: #2becb2;
}
.select option:checked,
.select option:hover {
  background: #fff;
  color: #2becb2;
}
.select.folder {
  padding-left: 42px;
  background-image: url("../../images/contents/folder_icon.png");
  background-repeat: no-repeat;
  background-position: left 16px center, right 15px center;
}
.select.folder + .nice-select .list {
  margin-left: -43px;
  padding-left: 26px;
}
.select_item + .select_item {
  margin-left: 10px;
}











/* textarea */
.textarea {
  width: 100%;
  min-height: 100px;
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-color: #fff;
  resize: none;
}
.textarea::placeholder {
  color: #bababa;
}










/* checkbox */
.check {
  display: inline-block;
  position: relative;
  margin-top: 13px;
  overflow: hidden;
  vertical-align: top;
}
.check input {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: -1;
}
.check label {
  display: block;
  position: relative;
  height: 24px;
  padding-left: 34px;
  background-image: url("../../images/contents/check_off.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 24px auto;
  color: #212529;
  font-size: 14px;
  line-height: 24px;
  vertical-align: top;
}
.check label span {
  margin-right: 10px;
  color: #000;
  font-weight: 600;
}
.check input:checked + label {
  background-image: url("../../images/contents/check_on.png");
}
.check.fs0 label {
  width: 24px;
  padding-left: 0;
  font-size: 0;
}











/* btn */
.btn {
  min-width: 120px;
  height: 50px;
  padding: 0 30px;
  border: 0;
  border-radius: 4px;
  background-color: #bababa;
  color: #fff;
  font-size: 16px;
  transition: background 0.25s ease-in-out;
}
.btn.type1 {
  background-color: #2becb2;
}
.btn.type2 {
  background-color: #ff6969;
  color: #fff;
}
.btn.type3 {
  background: linear-gradient(to left, #2becb2 0, #18e4bb 63%, #13e2bd 100%);
}
.btn.big {
  height: 60px;
  font-size: 16px;
}














/* range */
.range.type1 {
  position: relative;
  width: 390px;
  margin: 0 auto;
  padding: 0 46px;
  font-size: 0;
  text-align: center;
  line-height: 0;
}
.range.type1 .range_bar {
  display: inline-block;
  position: relative;
  width: 240px;
  margin-top: 10px;
}
.range.type1 .range_value {
  width: 27px;
  margin-left: 10px;
  border: 0;
  background: none;
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  line-height: 26px;
  vertical-align: top;
}
.range.type1 .range_value_text {
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  vertical-align: top;
}
.range.type1 .range_btn {
  position: absolute;
  top: 0;
  width: 26px;
  height: 26px;
}
.range.type1 .range_btn.minus {
  left: 0;
  background: url("../../images/contents/minus_btn.png") no-repeat;
}
.range.type1 .range_btn.plus {
  right: 0;
  background: url("../../images/contents/plus_btn.png") no-repeat;
}
.range.type2 {
  height: 22px;
  padding-top: 10px;
}
.range.type2 .range_bar {
  position: relative;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #bababa;
}
.range.type2 .ui-slider-horizontal .ui-slider-handle {
  top: -10px;
}
.range.type2 .ui-state-default,
.range.type2 .ui-widget-content .ui-state-default,
.range.type2 .ui-widget-header .ui-state-default,
.range.type2 .ui-button,
.range.type2 html .ui-button.ui-state-disabled:hover,
.range.type2 html .ui-button.ui-state-disabled:active {
  width: 22px;
  height: 22px;
  background-color: #2becb2;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 22px;
}












/* line */
.line {
  display: block;
  position: relative;
  height: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.line:before {
  display: block;
  position: absolute;
  top: 18px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #eaeaea;
}
.line .line_text {
  display: inline-block;
  position: relative;
  height: 36px;
  margin: 0 auto;
  padding: 0 20px;
  border-radius: 18px;
  background-color: #bababa;
  color: #fff;
  line-height: 36px;
}

















/* popup */
.popup {
  display: block;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.37);
  transition-property: opacity, visibility;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
.popup.active {
  opacity: 1;
  visibility: inherit;
}
.popup .popup_box {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  min-height: 174px;
  padding: 60px 41px 40px 41px;
  border-radius: 10px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}
.popup .popup_title {
  margin-bottom: 16px;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 26px;
}
.popup .popup_text {
  color: #8f8f8f;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}
.popup .popup_box > .inp {
  width: 100%;
  margin-top: 30px;
}
.popup .popup_box > .btn {
  width: 100%;
  margin-top: 30px;
}
.popup .popup_box > .inp + .btn,
.popup .popup_box > .btn + .btn {
  margin-top: 20px;
}
.popup .popup_coupon {
  display: block;
  width: 180px;
  height: 90px;
  margin: 0 auto 30px auto;
  padding-top: 10px;
  background: url("../../images/contents/coupon_bg.png") no-repeat;
  text-align: center;
}
.popup .popup_coupon .coupon_title {
  display: block;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  line-height: 26px;
}
.popup .popup_coupon .coupon_point {
  color: #4becb2;
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
}
.popup .popup_btn_box {
  margin-top: 20px;
  overflow: hidden;
}
.popup .popup_btn_box .btn {
  width: 49%;
}
.popup .popup_btn_box .btn + .btn {
  float: right;
}
.popup .popup_img {
  margin-top: 30px;
  padding: 30px;
  border: 2px solid #8f8f8f;
  text-align: center;
}
.popup.date .popup_btn_box .btn {
  width: auto;
}
.popup .popup_close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 28px;
  height: 28px;
  background: url("../../images/contents/popup_close.png") no-repeat;
  font-size: 0;
}
.popup.popup_warning .popup_box {
  width: 730px;
}
.popup.popup_warning .warning_text {
  position: absolute;
  top: 22px;
  left: 22px;
  height: 20px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 20px;
}
.popup.popup_warning .warning_text.em_red {
  background: url("../../images/contents/warning_popup_icon.png") no-repeat left
    top;
  color: #ff6969;
}
.popup.popup_warning .warning_text.em_green {
  background: url("../../images/contents/warning_popup_icon2.png") no-repeat
    left top;
  color: #2becb2;
}

.bottom_popup {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 220px;
  right: 0;
  bottom: 0;
  z-index: 20;
  height: 60px;
  padding: 10px 30px;
  overflow: hidden;
  border-top: 1px solid #e5e5e5;
  background-color: #fff;
  transition-property: opacity, visibility;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
.bottom_popup.active {
  opacity: 1;
  visibility: inherit;
}
.bottom_popup .popup_box {
  max-width: 960px;
  margin: 0 auto;
}
.bottom_popup .popup_text {
  float: left;
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
}
.bottom_popup .popup_text span {
  margin-left: 10px;
}
.bottom_popup .btn {
  float: right;
  min-width: 112px;
  height: 36px;
  font-size: 14px;
}
.bottom_popup .fl .btn,
.bottom_popup .fr .btn {
  margin-left: 20px;
}









/* new */
div.new_image {
  text-align: center;
}
