

.chart_div_graph_cpu_nochart{
  width: 365px;
}





















.page1view_id_body_content_outer_title_moduleName3_admin{
  outline-style: solid;
  outline-width: 2px;
  border-radius: 5px;
  color:black;
  background-color: rgb(80, 80, 80);
  width: auto;
  a{
    text-shadow: 0 0 5px black;
  }
}

.page1view_id_body_content_outer_title_moduleName3_admin:hover{
  width: 110px;
  height: 50px;
  outline-style: solid;
  outline-width: 2px;
  border-radius: 5px;
  color:black;
  background-color: rgb(255, 255, 255);
  width: auto;
  a{
    color:rgb(0, 0, 0);
    font-size: 26px;
    font-weight: 700;
    text-shadow: 0 0 5px white;
  }
}

.save_button_admin_page1{
  width: 110px;
  height: 50px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color : rgb(0, 0, 0);
  border-radius: 5px;
  a{
    color : rgb(255, 255, 255);
    font-size: 26px;
    font-weight: 700;
  }
}


















.modify_box{
  justify-content: center;
  align-items: center;
  display: flex;
  padding-left: 5px;
  input{
    width: 100%;
    height: 70%;
    font-size : 18px;

  }
}


.modify_input_box{
  width: 300px;
  height: 50px;
  padding-left: 5px;
  outline-style: solid;
  outline-width: 2px;
  border-radius: 3px;
  border: none;
  color: rgb(0, 0, 0);

  font-size: 22px !important;

}























.module_spec_cpu_version2_modify{
     
  outline-width: 1.5px;
  
  color : hsl(288, 100%, 50%);
  width: 900px;
  height : auto;

  display: flex;
  align-items: center;
  justify-content: center;


}