/* 🔷 컨테이너 설정 */
.target_list_container {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    min-width: 400px;
    margin: 0 auto;
    gap: 1rem;
    width: 100%;
  }
  
  .target_item_row {
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* 요소 간 균등 배치 */
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: white;
    border: 2px solid rgba(0,0,0,0.6);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    color: black;
    font-weight: bold;

    flex-direction: column;

  }

  .target_item_row_top{
     width: 100%;
    justify-content: space-between; /* 요소 간 균등 배치 */
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1rem;
    padding: 1rem;
    margin-bottom: -30px;
  }
  .target_item_row_bottom{
     width: 100%;
    justify-content: space-between; /* 요소 간 균등 배치 */
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1rem;
    padding: 1rem;
  }

  .target_item_row:hover {
    background-color: rgba(86,0,66, 0.8);
    transition: background-color 0.4s ease;
    color: white;
    a{
      color: white;
    }
    img {
      filter: invert(100%);
    }
    .device_release{
      color: white;
    }
    .device_type{
      color: white;
    }

  }
  

  
  /* 정렬 클래스 
  .right_align {
    display: flex;
    justify-content: flex-end;
  }
  */

  /* 🔸 항목 스타일 */
  .item_symbol a.symbol_text {
    color: #bbbbbb;
  }
  
  .brand_symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
  }
  .cpu_brand_for_device {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}
  .brand_inner {

    width: 100%;
    height: 100%;
  }

  
  .item_name a {
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
  
  .item_type a {
    font-size: 18px;
  }
  
  .item_spec_1, .item_spec_2 {
    font-size: 24px;
  }
  
  .item_spec_1_title, .item_spec_2_title {
    font-size: 16px;
    margin-right: -5px;
  }
  
  
  /* 🔻 고정 영역 */
  .fixed_content_area {
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: transparent;
    font-size: 30px;
  }



  @media screen and (max-width: 650px) {

    .hide_rate_4 {
        display: none !important;
      }
      .target_item_row{
        min-width: 400px !important;
        
    }

    .module_component{
      min-width: 500px !important;
    }
    
    .brand_symbol{
      width: 50px;
      height: 50px;
    }

    .device_name{
      font-size: 24px !important; min-width: 180px !important; text-align: center;
    }
    .device_manf   {  min-width: 60px !important;
  }

  .module_name{
    text-align: center;
    font-size: 24px;
  }
  .module_tool{
    display: none !important;
  }
  .fixed_content_area{
    font-size: 20px !important;
  }

  }


  @media screen and (max-width: 900px) {

    .hide_rate_2 {
      display: none !important;
    }

    .target_item_row{
      min-width: 640px;
      padding: 5px;
  }

  .module_component{
    min-width: 720px;
  }

  .fixed_content_area{
    font-size: 24px;
  }
}

@media screen and (max-width: 1180px) {
    .hide_rate_1 {
      display: none !important;
    }
}

.target_item_row > div > div {
  

}

/* 🔹 Flex 크기별 클래스 */
  .device_item  { font-size: 24px; max-width: 90px;}
  .device_type  { font-size: 24px; max-width: auto; min-width: auto; text-align: center; color: rgb(255, 0, 157);}
  .device_release  { flex: 1; font-size: 32px; text-align: right; color: rgb(255, 0, 157);}

  .device_manf   { flex: 1;  min-width: 100px; max-width: 100px;
      display: flex;
    justify-content: left;
    align-items: center;
  }
  .device_name   { flex: 5; font-size: 38px; min-width: 480px;}
  .cpu_device_manf  { flex: 1; font-size: 32px; min-width: 70px; max-width: 70px; text-align: center;}
  .cpu_device   { max-width: 340px;  text-align: center;}

    a.highlight {
    color: rgb(255, 0, 157);
    font-size: 28px;
  }
