
                /* 개별 모듈 전체*/
                .module_component {
                    width: auto;
                    height: auto;
                    border: 2px solid rgba(0, 0, 0, 1);
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
      
    


                }
                /* 모듈 상단(라벨)*/
                .module_bar{
                        background : linear-gradient(90deg, rgb(39, 0, 21) 10%, rgb(83, 5, 48) 30%, rgb(94, 32, 70) 50%,  rgb(179, 84, 135) );

                        display: flex;  
                        align-items : center;   
                        justify-content: center;

                        width: 1300px;
                        height: 80px;   

                        border-top-left-radius: 6px;
                        border-top-right-radius: 6px;

                        
     
                }
                /* 모듈 상단(라벨)*/
                .module_bar_wrapper{
                        width: 100%;
                        height: auto;

                        display : flex;

                       margin : 10px;

                       
                }   

                                    .module_symbol{
                                          
                                                font-weight: 700;
                                                display : flex;
                                                justify-content: center;
                                                align-items : center;
                                                text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
                                                outline-width: 1px;
                                                margin-top: 10px;
                                                margin-right: 36px;
                                                margin-left: 20px;
                                                width: 28px;
                                                height: 28px;
                                                border-radius: 5px;
                                                color: white;
                                                background-color: rgba(228, 0, 159, 0.858);
                                            }

                                        .module_name{
                                                flex : 6;
                                                font-size: 32px;
                                                font-weight: 700;
                                                display : flex;
                                                justify-content: left;
                                                align-items : center;
                                                margin-bottom: 5px;
                                                text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
                                                

                                  
                                        }
                                        .module_tool{
                                                flex : 1;
                                                display : flex;
                                                justify-content: right;
                                                align-items : center;
                                                text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
                                                a{
                                                color : rgb(255, 255, 255);
                                                font-size: 20px;
                                                font-weight: 700;
                                               
                                                }
                                        }

                        .module_symbol-href{
                        font-size: 20px;

                        }
                                        
                            .module_name-href{
                        color : hsl(0, 0%, 100%);
                        text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
                        height: 36px;
                        display: flex;       
                        align-items: center;
                        justify-content: center;
                        font-size: 22px;
                        margin-right: 12px; 
                   
             
                }

                                .module_name-href:hover{
                        color: rgb(255, 0, 157);
                        text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
                        height: 36px;
                        display: flex;       
                        align-items: center;
                        justify-content: center;
                        font-size: 22px;
                        margin-right: 12px; 

              
                }
                
                .module_tool-href{
                        color : hsl(0, 0%, 100%);
                        text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
                        height: 36px;
                        display: flex;       
                        align-items: center;
                        justify-content: center;
                        font-size: 22px;
                        margin-right: 12px; 
                      
               
                }
                
                .module_tool-href:hover{
                        color: rgb(255, 0, 157);
                        a{
                                color: rgb(255, 0, 157);
                                text-shadow: 0 0 3px white;
                        }
                }












                          /* 모듈 하단(내용)*/
                .module_content{
                        /* background: linear-gradient(white, rgb(208,193,202)); */
                        background-color: white;
                        background-attachment: fixed;
                        /*background : linear-gradient(white, rgb(199, 199, 199));*/
                        width: 1300px;
                        
                        color : rgba(0, 0, 0, 0.23);     
                       
                        height: auto;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        

      
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                }   
                /* 모듈 하단(내용)*/

                     .module_content_start{

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        padding: 10px;
                        width: 100%;
                        flex-direction: column;

                        
                        
                }




